dash==2.16.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
gunicorn==21.2.0
openai==1.16.2
pillow==10.2.0
pytesseract==0.3.10
Werkzeug==3.0.2

